.ExButton {
  position: relative;

  .loadingBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
